* {
    border: 2px;
    border-color: brown;
    color: black;
    background-color: bisque;
}

.parent {
    display: grid;
    grid-template-columns: 4fr repeat(4, 1fr) 4fr;
    grid-template-rows: 3fr 2fr repeat(4, 1fr) repeat(2, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: aquamarine;
}

.div0 {
    grid-area: 2 / 2 / span 1 / span 4;
    border: 2px solid;
    background-color: aqua;
}
.div1 {
    grid-area: 3 / 2 / span 1 / span 1;
}
.div2 {
    grid-area: 3 / 3 / span 1 / span 1;
}
.div3 {
    grid-area: 3 / 4 / span 1 / span 1;
}
.div4 {
    grid-area: 4 / 2 / span 1 / span 1;
}
.div5 {
    grid-area: 4 / 3 / 5 / 3;
}
.div6 {
    grid-area: 4 / 4 / 5 / 4;
}
.div7 {
    grid-area: 5 / 2 / span 1 / span 1;
}
.div8 {
    grid-area: 5 / 3 / span 1 / span 1;
}
.div9 {
    grid-area: 5 / 4 / span 1 / span 1;
}
.div10 {
    grid-area: 6 / 2 / span 1 / span 1;
}
.div11 {
    grid-area: 4 / 5 / 5 / 6;
}
.div12 {
    grid-area: 3 / 5 / span 1 / span 1;
}
.div13 {
    grid-area: 5 / 5 / span 1 / span 1;
}
.div14 {
    grid-area: 6 / 4 / span 1 / span 1;
}
.div15 {
    grid-area: 6 / 5 / span 1 / span 1;
}
.div16 {
    grid-area: 6 / 3 / span 1 / span 1;
}
